*{
    margin: 0;
    padding: 0;
}

:root{
    --job-height:100px;
    --job-width:100px;
}


.mainContainer, .jobs, .job, .jobDisplay{
  display: flex;
  padding: 5px;
  border-radius: 10px;
} 

.mainContainer{
  flex-direction: column;
  height: 100vh;
  background-color:rgb(41, 43, 42);  
  
 
}

.jobs{    
    flex-wrap: nowrap;
    height: calc(var(--job-heigh) + 10px);
    /* background-color: rgb(96, 123, 42); */
    /* border-bottom: solid rgb(157, 177, 157) 2px ; */
    /* border-radius: 0%; */
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
}

.job{
    height: var(--job-height);
    width: var(--job-width);
    background-color: rgb(34, 197, 165);
    margin: 10px;
    flex-shrink: 0;
}

.jobDisplay{
    background-color: rgb(37, 138, 159);
    margin: 20px;
    flex-grow: 1;   
    justify-content: center;
    align-items: center; 
}


.selected{
    background-color: rgb(128, 165, 42);
    animation: blinker 0.5s linear ;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

  
.Header{
  /* border: red 2px solid; */
  position: sticky;
  top:0px;
  z-index: 4;
  display: flex;  
  justify-content: lefet;    
  margin: 0%;
  /* padding:2%; */
}
.Header ul  {
  /* border: rgb(84, 140, 175) 2px solid; */
  display: flex; 
  justify-content: space-between;
  width: 200px;   
  list-style: none;
  margin: 0%;
  padding: 8px;
}

.Header ul li a{   
  color: rgb(255, 254, 254);
  text-align: center;
  text-decoration: none;
  border: 2px solid rgb(130, 25, 11);
  border-radius: 15px;
  padding: 1px 10px 1px 10px;
  background: rgb(3, 3, 4);
}

.Header ul li a:hover{
  transform: translateY(5px);
  transition: 0.2s;
  color: rgba(232, 8, 8, 0.775);
}

#welcomeSVG{
/* border: rgb(80, 210, 136) 2px solid; */
/* z-index:1 ; */
position: relative;
width: 100%;
height: 400px;
background-color: rgb(12, 12, 12);
/* border-radius: 10px; */
}
