.jobDisplay{
    background-color:  rgb(158, 54, 127);
}


.jobDisplay{
    background-color: aquamarine;
    flex-direction: column;
}


.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

