
  /* cardsBox */
  body{
    margin: 0;
}

  .cardContainer {
    display: flex;
    padding: 5rem;
    justify-content: center;
  }

  .card{
    height: 150px;
    width: 100px;
    padding: 2rem;
    background-color: rgb(85, 205, 226);
    box-shadow: -10px 10px 15px black;
    border-radius: 5px;
    transition: 0.2s;
  }

  .card:not(.card:first-child) {
    margin-left: -5rem;
  }

  .card:hover,
  .card:focus {
    transform: translateY(-2rem);
  }

  .card:hover ~ .card {
    transform: translateX(5rem);
  }


 

  /* carousel*/

  
  .carousel{
    width: 100vw;
    height: 100vh;
    position: relative;
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 500ms opacity  ease-in-out;
    transition-delay: 500ms;
 
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: rga(225,225,225, .5);
    cursor: pointer;
    border-radius:.25rem ;
    padding: 0 .5rem  ;
    background-color: rgba(0, 0, 0, 0.2) ;
} 

.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.2) ;
}
.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
   left: 1rem;
}
.carousel-button.next{
    right: 1rem;
 }




.carousel{
    width: 100%;
    height: 100%;
    position: relative;
   
}

.carousel > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 500ms opacity  ease-in-out;
    transition-delay: 500ms;
 
}
.slide > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    
}

.slide[data-active]{
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button{
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: rga(225,225,225, .5);
    cursor: pointer;
    border-radius:.25rem ;
    padding: 0 .5rem  ;
    background-color: rgba(0, 0, 0, 0.2) ;
} 

.carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, 0.2) ;
}
.carousel-button:focus{
    outline: 1px solid black;
}

.carousel-button.prev{
   left: 1rem;
}
.carousel-button.next{
    right: 1rem;
 }

 .container{
    display: flex;
    height: 100vh;
    width: 100wh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


  .block{
      width:90%;
      height: 100%;
         }


.navigContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* border: solid orangered 3px; */
    height: 100px;
    position: relative; 
    --cercle-width: 20px;
    --cercle-height: 20px;
    --cercle-position: 0;
    --stage-line-height:40px;
    --play-state: paused ;
    --time:1s;
}

.timeLine{
    position: relative ;
    padding: 0%;
    margin: 0%;
    /* border: solid orangered 1px; */
    background-color: rgb(97, 14, 79);
    border-radius: 15px;
    height:calc( var(--cercle-height) * 0.5 );
    width: 400px;
}

.staticCerle{   
    position: absolute;
    background-color: rgb(97, 14, 79);
    border-radius: 100px; 
    height: var(--cercle-height);
    width: var(--cercle-width);
}

.movingCercle{
    position: absolute;
    z-index: 1;
    border: solid rgb(61, 158, 32) 1px;
    background-color: brown;
    border-radius: 100px; 
    height: var(--cercle-height);
    width: var(--cercle-width);
    transform:   translate( calc((var(--cercle-width) / -2) + 100px * var(--cercle-position)) ,  calc(var(--cercle-height) / -4)  );
}





