.jobDisplay {
  /* border: solid orange 5px; */
  background-color: #1e8e95;
  color: rgb(0, 0, 0);
  display: inline;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid yellowgreen; */
  padding: 10px;
}

.bookNavigation {
  /* border: solid yellowgreen; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 5%;
}

#Nextbtn,
#Prevbtn {
  height: 10%;
  border: solid black 1px;
  border-radius: 5px;
  padding: 1px 3px 1px 3px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#bookIconAnimation {
  width: 90%;
}

.page {
  /* border:Solid orange 3px; */
  color: rgb(0, 0, 0);
  flex-direction: column;
  justify-content: center;
  font-family: "Alegreya", serif;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding-top: 20px;
}

.active {
  display: flex;
  transition: display 3s;
}
