
.page{
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  flex-direction: column;
  justify-content: center;
  font-family: 'Alegreya', serif;
  border:Solid orange 3px;
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  /* width: 00px;
  height: 200px; */
}

.active{
  display: flex;
}

.book{
  display: flex;
  border: solid yellowgreen;
  padding: 10px;  
}

.translate{
animation: myAnimation 2s ;  
}

@keyframes myAnimation{
  50%{
    transform: translate(100px);
    /* transform: rotateY(.5turn); */

  }
}