.jobDisplay{
  background-color: #0f495d;
  color: rgb(0, 0, 0);
  flex-direction: column;
  justify-content: center;
  font-family: 'Alegreya', serif;
 }


.container{
    border: red solid 2px;
    width: 600px;
    display: flex;
    justify-content: space-around;
}

#item1, #item2 {   
    display: flex;
    width: 60px;
   
}


