/* .pageContent {
  display: block;
  padding: 20px;
  align-items: center;
  overflow: hidden;
  background-color: #f7f7f7;
  color: rgb(0, 0, 0);
  font-family: Sentinel SSm A;
  font-size: 16px;
  justify-self: center;
  width: 300px;
 
  box-shadow: 15px 15px 40px rgb(31, 29, 29);
  }

.pageContent{
  color: rgb(12, 11, 11);
} */

.container{
    border: red solid 2px;
    width: 600px;
    display: flex;
    justify-content: space-around;
}

#item1, #item2 {   
    display: flex;
    width: 60px;
   
}


