

.jobDisplay{
    background-color: rgb(93, 77, 183);
    margin: 20px;
    flex-grow: 1;
    justify-content:center;
    flex-direction: column;
    align-items:center;
    position: relative; 
    --cercle-width: 20px;
    --cercle-height: 20px;
    --cercle-position: 0;
    --play-state: paused ;
    --time:1s;
    }
  
  
    .line{
      margin-top: 40px;
      position: relative;
      background-color: rgb(122, 17, 87);
      border-radius: 3px;
      width:300px;
      height: 10px; 
    }
  
    .cercle{
      
      position: absolute;
      background-color:  rgb(46, 146, 185);
      width:var(--cercle-width);
      height: var(--cercle-height);  
      transform:   translate( calc((var(--cercle-width) / -2) + 100px * var(--cercle-position)) ,  calc(var(--cercle-height) / -4)  );
      border-radius: 100%;
      transition: transform 1s ease-in-out;
      
    }
  
    .spinner{
      margin-top: 40px;
      position: relative;
      background-color: rgb(185, 46, 166);
      border-radius: 3px;
      width: 20px;
      height: 10px;
      color: red;   
      animation: my-animation 1000ms  var(--play-state)   infinite ; 
    }
  
  
    
  
    @keyframes my-animation {
      100%{ transform: rotateZ(5turn)}     
    }
  
    button::after {
      content: var(--tooltip-string);
      color: var(--tooltip-color);
      font-size: var(--tooltip-font-size);
    }